@charset "UTF-8";

/*
VARIABLES
================================================ */
:root {
    --light-green: #d5edeb;
    --light-blue: #d9f3f2;
    --black: #000;
    --grey: #8b8785;
}

/*
COMMON
================================================ */
html {
    font-size: 100%;
}
body {
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", sans-serif;
    line-height: 1.7;
    color: var(--black);
}
img {
    max-width: 100%;
}

/*
FONT
================================================ */
.font-title {
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.font-english {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
.font-japanese {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/*
TITLE
================================================ */
.page-title,
.heading-medium,
.heading-small {
    text-align: center;
}
.page-title {
    font-size: 3rem;
    margin-top: 10rem;
    line-height: 1.4;
}
.heading-medium {
    font-size: 2.5rem;
    margin-top: 10rem;
}
.heading-small {
    font-size: 1.5rem;
}

/*
SLIDE MENU
================================================ */
/* 開閉ボタン */
.btn-menu {
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 4;
    padding: 1rem 1rem;
    border: 1px solid var(--grey);
    border-radius: 20%;
    height: 4rem;
    width: 4rem;
    transition: .4s;
}
/* メニューアイコン */
.menu-icon {
    font-size: 32px;
    color: var(--grey);
}
/* 閉じるボタン */
#menu-close {
    border: 1px solid var(--black);
}
/* 閉じるアイコン */
.close-icon {
    font-size: 32px;
    color: var(--black);
}

#menu-panel {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
    padding: 5rem 2rem 2rem;
    width: max(32vw, 16rem);
    height: 100vh;
    background-color: #c9c2bc;
    box-shadow: 0 0 2rem var(--light-blue);
    translate: 100vw;
}
.menu-list {
    list-style: none;
}
.menu-list li {
    margin: 1.5rem 0;
}
.menu-list a {
    color: var(--black);
    text-decoration: none;
}
.git-link {
    display: flex;
    gap: 0.4rem
}
#git-link-btn {
    display: flex;
    gap: 0.2rem;
}

/*
PROFILE
================================================ */
.profile-thumbnail {
    display: block;
    border-radius: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
}
.profile p {
    text-align: center;
    margin-top: -.5rem;
    padding: 0 1.5rem;
}

/*
HISTORY, SKILLS, QUALIFICATIONS
================================================ */
.history-info,
.qualifications-info {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 1.5rem;
    border-spacing: 0;
}
.history-info th,
.history-info td,
.qualifications-info th,
.qualifications-info td {
    border-bottom: 1px solid #c9c2bc;
}
.history-info th, 
.qualifications-info th {
    text-align: left;
    font-weight: normal;
    padding: 1rem;
}
.history-info td, 
.qualifications-info td {
    padding: 1rem 0;
}
.history .heading-medium,
.skills .heading-medium,
.qualifications .heading-medium {
    margin-top: 10rem;
}
.skills p,
.qualifications p {
    text-align: center;
    margin-top: -.5rem;
    font-size: 0.9rem;
}
.skills p {
    margin-bottom: 1.5rem;
}
.qualifications p {
    margin-bottom: 1rem;
}
.skills-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
    list-style: none;
    padding: 0 1.5rem;
}
.skill-item {
    color: var(--black);
    background-color: var(--light-blue);
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 500;
    padding: .2rem .4rem;
}

/*
FOOTER
================================================ */
.page-footer {
    padding-top: 12rem;
}
.copyright {
    text-align: center;
    padding: 2rem 0;
    margin-top: 6rem;
}

/*
DARK THEME
================================================ */
.dark-theme {
    background: var(--black);
    color: #ddd;
}
#dark-light-btn {
    display: flex;
    gap: 0.2rem;
    color: var(--black);
}

/*
DESK TOP VERSION
================================================ */
@media (min-width: 800px) {
    .page-title {
        font-size: 5rem;
    }
    .heading-medium {
        font-size: 3.5rem;
    }
    .heading-small {
        font-size: 2rem;
    }

    .profile p {
        font-size: 1.15rem;
    }

    .skills p,
    .qualifications p {
        margin-top: -1rem;
        margin-bottom: 2rem;
        font-size: 1rem;
    }
    .skill-item {
        font-size: 1.6rem;
    }

    .page-footer {
        padding-top: 12rem;
    }
}